
<table class="table table-striped table-active" style="margin-top: 20px;">
    <thead class="thead-light">
      <tr>
        
        
        <th>Car Name</th>
        <th>Daily Price</th>
        <th>Rent Date</th>
        <th>Return Date</th>
        
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let rental of rentals | rental: filterText">
        <td>{{ rental.carName }}</td>
        
        <td>{{ rental.dailyPrice }}</td>
        <td>{{ rental.rentDate }}</td>
        <td>{{ rental.returnDate }}</td>

        <td>
          <span class="badge bg-danger" (click)="delete(rental.carId)"
            >Delete</span
          >
        </td>
      </tr>
    </tbody>
    
  </table>